*{
    margin: 0;
    padding: 0;
}

body{
    background: #E9ECF4;
    color: #000;
    font-family: Roboto, sans-serif;
}

.contenedor{
    width: 90%;
    max-width:1000px;
    margin: 20px auto;
    display: grid;/*convertimos el contenedor en una grid(cuadricula)*/
    grid-gap:20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
                        "contenido contenido sidebar"
                        "widget-1 widget-2 sidebar"
                        "footer footer footer";
}

.contenedor  > div,/*se usa el > para no definir cada una de las clases*/
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor .header{
    background: #12203e;
    color:#fff;/*color del texto*/
    grid-area: header;
    /*se puede usar tambien la propiedad grid-column: 1 / -1;*/
    /*grid-column-start: 1;/*inicio del items header*/
    /*grid-column-end: -1;/*fin del items header*/
}

.contenedor .contenido{
    grid-area: contenido;
    /*grid-column: span 2;/*contenido se expandira 2 espacios*/
}

.contenedor .sidebar{
    grid-column: 3 / 4;
    background: #faa43d;
    /*text-align: center; /*centra el texto*/
    display: flex;/*para usar flexbox*/
    align-items: center;/*centra el texto verticalmente*/
    justify-content: center;/*centra el texto de forma horizontal*/
    min-height: 100px;
    grid-area: sidebar;
    /*grid-row: span 2; /*tambien podemos usar 2 / 4;*/
}

.contenedor .widget-1,
.contenedor .widget-2{
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1{
    grid-area: widget-1;
}

.contenedor .widget-2{
    grid-area: widget-2;
}

.contenedor .footer{
    background: #12303f;
    color: #fff;
    min-height: 50px;
    grid-area: footer;
    /*grid-column: span 3;*/
}

@media screen and (max-width: 768px) {
    .contenedor{
        grid-template-areas: "header header header"
                        "contenido contenido contenido"
                        "sidebar sidebar sidebar"
                        "widget-1 widget-1 widget-2"
                        "footer footer footer";
    }
    
    
}
/*adaptar a dispositivos*/
/*@media screen and (max-width: 768px){
    .contenedor .contenido{
        grid-column: 1 / -1;
    }

    .contenedor .sidebar{
        grid-column: 1 / -1;
    }
    
    .contenedor .widget-1 {
        grid-column: span 2;
    }

}*/